
/*================================
=========== COLOR ===========
==================================*/

/* Background Color */
.rev_slider_wrapper .tp-bullets .tp-bullet,
.rev_slider_wrapper .tp-bullets .tp-bullet:hover,
.rev_slider_wrapper .tp-bullets .tp-bullet:focus,
.rev_slider_wrapper .tp-bullets .tp-bullet.selected,
.mTheme-mini-cart .dropdown-cart .widget_shopping_cart_content{
	background-color: #fff;
}
.header.style-v2 .sidebar-floating .floating-button span,
.header.style-v2 .sidebar-floating,
.main-content .mtheme-title .wpb_heading::after{
	background-color: #000;
}
.mTheme-mini-cart .cart-contents .cart-count,
.header.style-v2 .sidebar-floating .floating-button:hover span,
.header.style-v2 .sidebar-floating.active .floating-button span{
	background-color: @brand-primary;
}


/* Text Color */
body{
	color: #666666;
}
.mTheme-mini-cart .cart-contents .cart-count,
.header.style-v2 .sidebar-floating{
	color: #FFF;
}
.mTheme-mini-cart .cart-contents .cart-icon,
.header .button-search i{
	color: #a7a7a7;
}
.header .navbar-nav > li > a,
.header.style-v3 .button-search .fa,
.header.style-v6 .button-search .fa,
.main-content .mtheme-title .wpb_heading,
h1,h2,h3,h4,h5,h6 {
    color: #000;
}
.featured-color,
.header .header-top a:hover,
.navbar-nav li > a:hover,
.navbar-nav li > a:focus,
.navbar-nav li.active > a,
.mTheme-mini-cart .cart-contents:hover .cart-icon, 
.header .button-search i:hover,
.woocommerce-product-search-modal .woocommerce-product-search button:hover,
.header.style-v2 .sidebar-floating a:hover,
.header.style-v2 .sidebar-floating a:focus,
.header.style-v2 .sidebar-floating .active > a,
.header .header-middle a:hover,
.header.style-v3 .header-middle .header-search .button-search:hover .fa,
.header.style-v6 .header-middle .header-search .button-search:hover .fa,
.mtheme-products .product .entry-body .price{
	color: @brand-primary;
}


/* Border Color */
.header .header-top{
	border-color: #f1f1f1;
}
.header .header-search .button-search,
.header .widget-woocommerce-currency-switcher .dd-options,
.header .widget-woocommerce-currency-switcher .dd-options .dd-option{
	border-color: #e1e1e1;
}
/*{
	border-color: @brand-primary;
}*/

/* Placeholder */
.woocommerce-product-search-modal .woocommerce-product-search .search-field{
	.placeholder(#fff);
}


/* Font Family */
body{
	font-family: "Josefin Slab";
}

.woocommerce .star-rating{
	font-family: "feather";
}